<html>
	<head>
		<title>Job Seeker</title>
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://use.fontawesome.com/f3009b4d7d.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	</head>
	
	<body>
	
		<div ng-app="jobseeker" ng-controller="jobseekerCtrl" ng-init="init()">
			<form>
				<label for="dateInput">Date Applied:</label><br>
				<input type="text" ng-model="job.date" id="dateInput"></input><br><br>

				<label for="titleInput">Job Title:</label><br>
				<input type="text" ng-model="job.title" id="titleInput"></input><br><br>

				<label for="companyInput">Company:</label><br>
				<input type="text" ng-model="job.company" id="companyInput"></input><br><br>
				
				<label for="locationInput">Location:</label><br>
				<input type="text" ng-model="job.location" id="locationInput"></input><br><br>

				<label for="viaInput">Applied via:</label><br>
				<input type="text" ng-model="job.via" id="viaInput"></input><br><br><br>
				
				<input type="button" value="Reset" ng-click="resetForm()"></input>
				<input type="submit" value="Add Job" ng-click="addJob()"></input>
			</form>

			<table> 
				<tr>
					<th>Date Applied</th>
					<th>Job Title</th>
					<th>Company</th>
					<th>Location</th>
					<th>Applied Via</th>
				</tr>
				<tr ng-repeat="job in joblist">
					<td>{{ getDateString(job.date) }}</td>
					<td>{{ job.title }}</td>
					<td>{{ job.company }}</td>
					<td>{{ job.location }}</td>
					<td>{{ job.via }}</td>
				</tr>
			</table>
		</div>

		<script>
			$(document).ready(function() {
				$("#dateInput").datepicker();
			});
		</script>
	
		<script src="jobseekerApp.js"></script>
		<script src="jobseekerCtrl.js"></script>
	</body>
</html>	
